{% extends "base.html" %}

{% block content %}
    <div class="board-show" >
        <div class="left-block">
            <h1>{{ board.name }}</h1>
            <img src="{{ url_for('uploaded_file', filename=('analyzed' + board.filename)) }}" alt="{{ board.name }}" width="800"></img>
            <a class="btn btn-primary" style="width: 100px; margin-top: 20px" href="/boards">Return</a>
        </div>
        <div class="cards">
            <h1> Fusions </h1>
            {% for block in fusions %}
                <div class="fusion">
                    <a href="/card/{{ block[0] }}?board={{board.id}}">
                        <img src="{{ url_for('static', filename=('large_cards/' + block[0] + '.jpg')) }}"" alt="{{ board.name }}" width="150" height="211"></img>
                    </a>
                    {% if block|length > 1 %}
                        <a href="/card/{{ block[1] }}?board={{board.id}}">
                            <img src="{{ url_for('static', filename=('large_cards/' + block[1] + '.jpg')) }}"" alt="{{ board.name }}" width="150" height="211"></img>
                        </a>
                        <a href="/card/{{ block[2] }}?board={{board.id}}">
                            <img src="{{ url_for('static', filename=('large_cards/' + block[2] + '.jpg')) }}"" alt="{{ board.name }}" width="150" height="211"></img>
                        </a>    
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
